.header {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  color: $white;
  margin: 0 !important;
  @include flex-align-center;
  transition: all 0.1s linear;
  &.invert {
    background-color: $brand-bg;
    @include drop-shadow($black, 2);
    .search {
      input {
        background-color: #212121;
      }
    }
  }
  .logo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    img {
      width: 170px;
    }
    a {
      color: $white;
      text-decoration: none;
    }
  }
  .search {
    i {
      font-size: 20px;
    }
    .search-click-area {
      cursor: pointer;
      @include flex-align-center;
      float: right
    }
    .search-text {
      margin-left: 15px;
    }
  }
}
