.footer {
  padding: 60px 0;
  border-top: 1px solid #191919;
  margin-top: 50px;
  .quote-container {
    text-align: center;
    padding: 60px 0;
    .quote {
      font-size: 30px;
    }
    .info {
      font-size: 18px;
      margin-top: 20px;
      opacity: 0.5;
    }
  }
  .logo {
    width: 130px;
  }
  .content {
    @include flex-align-center;
  }
  .copy {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.3;
  }
  .powered-by {
    width: 100px;
    float: right;
  }
  .image {
    width: 100px;
    height: 40px;
    float: right;
  }
  img {
    width: 100px;
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    padding: 30px 0;
    .quote-container {
      padding: 40px 20px;
      .quote {
        font-size: 20px;
      }
      .info {
        font-size: 14px;
        margin-top: 20px;
        opacity: 0.5;
      }
    }
  }
}
