.card {
  background-color: $brand-bg;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
  &.default {
    height: 400px;
  }
  &.thumbnail {
    font-size: inherit;
  }
  &:hover {
    transform: scale(1.01);
  }
  .movie-info {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: $white;
    padding: 50% 30px 20px;
    font-weight: 800;
    width: 100%;
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
  }
  .image {
    height: 400px;
    background-size: cover;
    background-position: center center;
  }

  .with-star {
    @include flex-align-center;
  }
  .star-container {
    position: relative;
    width: 20px;
    height: 46px;
    margin-right: 10px;
    .star-icon {
      font-size: 30px;
      position: absolute;
      left: 0;
      top: 0;
      &.below {
        z-index: 0;
      }
      &.above {
        z-index: 1;
        overflow: hidden;
      }
    }
  }
  .rating-number {
    font-size: 18px;
    font-weight: 400;
  }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    &.thumbnail,
    .image {
      height: 280px;
    }

    .movie-info {
      font-size: 18px;
    }
  }
  @media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    &.thumbnail {
      height: 380px;
      .image {
        height: 380px;
        background-position: center top;
      }
    }

    .movie-info {
      font-size: 18px;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    &.thumbnail {
      height: 320px;
      .image {
        height: 320px;
        background-position: center top;
      }
    }
    .movie-info {
      font-size: 18px;
    }
  }
}
