/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-album-2:before {
  content: "\ea01";
}

.nc-icon.nc-chat-round-content:before {
  content: "\ea02";
}

.nc-icon.nc-copy:before {
  content: "\ea03";
}

.nc-icon.nc-image-05:before {
  content: "\ea04";
}

.nc-icon.nc-like-2:before {
  content: "\ea05";
}

.nc-icon.nc-multiple-11:before {
  content: "\ea06";
}

.nc-icon.nc-player-19:before {
  content: "\ea07";
}

.nc-icon.nc-player-48:before {
  content: "\ea08";
}

.nc-icon.nc-small-remove:before {
  content: "\ea09";
}

.nc-icon.nc-small-triangle-right:before {
  content: "\ea0a";
}

.nc-icon.nc-tail-triangle-right:before {
  content: "\ea0b";
}

.nc-icon.nc-tv-old:before {
  content: "\ea0c";
}

.nc-icon.nc-video-66:before {
  content: "\ea0d";
}

.nc-icon.nc-zoom-split:before {
  content: "\ea0e";
}

