.search {
  margin-top: 200px;
  .title {
    font-size: 40px;
    font-weight: 800;
  }
  .data {
    margin-top: 30px;
  }
  .input-container {
    margin-top: 10px;
    input {
      padding: 20px;
      background-color: #212121;
      border: none;
      font-size: 20px;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .search {
    margin-top: 100px;
  }
}