.reviews {
  margin-top: 0;
  .review {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    .author {
      margin-bottom: 10px;
      color: $grey600;
      b {
        font-size: 18px;
        color: $white;
      }
    }
    p {
      line-height: 20px;
    }
  }
}