.sub-heading-with-icon {
  @include flex-align-center;
  margin-bottom: 30px;
  h2 {
    margin: 0;
  }
  i {
    margin-right: 15px;
    font-size: 22px;
  }
}

.sub-section {
  margin-top: 100px;
  padding-top: 20px;
  border-top: 1px solid $grey900;
}