.movies {
  .banner {
    height: 100vh;
    background-color: $brand-bg;
  }
  .list {
    margin-top: 40px;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    .heading {
      margin: 0 0 50px 0;
      i {
        color: $brand-movies;
      }
      h2 {
        margin: 0;
      }
      &.tv-section {
        margin-top: 100px;
      }
    }
  }
}
