.details {
  div {
    margin-bottom: 20px;
  }
  .title {
    height: 6vh;
    margin-top: 30px;
    width: 80%;
  }
  .cert-runtime {
    height: 14px;
    width: 20%;
  }
  .rating-container {
    height: 4vh;
    width: 40%;
  }
  .genres {
    height: 20px;
    width: 60%;
  }
  .description {
    height: 150px;
    width: 80%;
  }
}